body{
  position: relative;
  width: 100%;
  /* height: 100vh; */
  overflow-x: hidden;
  font-family: arial;
  background: rgb(255 228 0 / 3%);
  overflow-y: auto;
}
img{
  min-height: 100%;
}
.navtop {
  position: sticky;
  top: 0;
  z-index: 2;
  background: rgba(255, 255, 255, 0.2);
}
.imgOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
section {
    position: relative;
}

.pulsingheart_1 { 
    position: absolute; 
    width: 100px; 
    height: 90px;
    top: 6vw;
    right: 10vw;
    z-index: 1;
  } 
  
  .pulsingheart_1:before, .pulsingheart_1:after { 
    position: absolute; 
    content: ""; 
    left: 50px; 
    top: 0; 
    width: 50px; 
    height: 80px; 
    background: #FF9389; 
    border-radius: 50px 50px 0 0; 
    transform: rotate(-45deg);  
    transform-origin: 0 100%;
    animation:pulsecolor 1s 0s infinite;
  } 
  
  .pulsingheart_1:after { 
    left: 0; 
    transform: rotate(45deg); 
    transform-origin :100% 100%;
    animation:pulsecolor 1s 0s infinite;
  }
  
.pulsingheart_2 { 
    position: absolute; 
    width: 100px; 
    height: 90px;
    top: 6vw;
    right: 50vw;
    z-index: 1;
  } 
  
  .pulsingheart_2:before, .pulsingheart_2:after { 
    position: absolute; 
    content: ""; 
    left: 50px; 
    top: 0; 
    width: 50px; 
    height: 80px; 
    background: #FF9389; 
    border-radius: 50px 50px 0 0; 
    transform: rotate(-45deg);  
    transform-origin: 0 100%;
    animation:pulsecolor 1s 0.2s infinite;
  } 
  
  .pulsingheart_2:after { 
    left: 0; 
    transform: rotate(45deg); 
    transform-origin :100% 100%;
    animation:pulsecolor 1s 0.2s infinite;
  }
  
.pulsingheart_3 { 
    position: absolute; 
    width: 100px; 
    height: 90px;
    top: 26vw;
    right: 40vw;
    z-index: 1;
  } 
  
  .pulsingheart_3:before, .pulsingheart_3:after { 
    position: absolute; 
    content: ""; 
    left: 50px; 
    top: 0; 
    width: 50px; 
    height: 80px; 
    background: #FF9389; 
    border-radius: 50px 50px 0 0; 
    transform: rotate(-45deg);  
    transform-origin: 0 100%;
    animation:pulsecolor 1s 0.5s infinite;
  } 
  
  .pulsingheart_3:after { 
    left: 0; 
    transform: rotate(45deg); 
    transform-origin :100% 100%;
    animation:pulsecolor 1s 0.5s infinite;
  }
  
  @keyframes pulse {
      50% {transform: scale(1.1)}
  }
  
  @keyframes pulsecolor {
    50% {background: #dd0000}
  }
  .btmFlowArea {
    position: absolute;
    bottom: -7vw;
    width: 100%;
    z-index: 1;
  }

  .leftFlower{
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .rightFlower {
    position: absolute;
    bottom: 0;
    transform: scaleX(-1);
    right: 0;
  }


  /******************* Material new design ************************/

  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label{
    transform: translateY(-0.99375em) scale(0.75);
    width: 133.3333333333%;
  }
  .mat-form-field-appearance-outline .mat-form-field-label {
    top: 1.24375em;
    margin-top: -0.25em;
}
.mat-form-field-label-wrapper {
  top: -0.84375em;
  padding-top: 0.44375em;
}
select.mat-input-element {
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  display: inline-flex;
  box-sizing: border-box;
  padding-top: 1em;
  top: -1.3em;
  margin-bottom: -1em;
  height: 3vw;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0em 0 0em 0;
}
.mat-input-element {
  font: inherit;
  background: rgba(0, 0, 0, 0);
  color: currentColor;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  text-align: inherit;
  box-sizing: content-box;
  height: 2vw;
}
.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 100%;
}
.form-control:focus {
  color: var(--bs-body-color);
  background: none;
  border: none;
  outline: 0;
  box-shadow: none;
}
.iti {
  position: relative;
  display: inline-block;
  margin-top: -0.2em;
  padding-bottom: 0.3em;
}
.iti__country-container {
  position: absolute;
  top: -0.4em !important;
  bottom: 0;
  right: 0;
  padding: var(--iti-border-width);
}
.mat-form-field-wrapper {
  padding-bottom: 0.34375em;
}
.scrollable-container {
  width: 100%;
  overflow-x: hidden;
}

/******************************************* ScrollBar css ***********************************/

::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F5;
  height: 7px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #f5c75f;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #f5c75f;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  background-color: #F5F5F5;
  border-radius: 10px;
}

/******************************************* ScrollBar end ***********************************/